<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/homeSS.css" rel="stylesheet" type="text/css">
    <title>The Phisherman's Joust</title>
</head>

<body id="body">
    <div id="home_container">
        <h1><span id="red">J</span><span id="orange">S</span> <span id="yellow">J</span><span id="green">O</span><span
                id="blue">U</span><span id="violet">S</span><span id="indigo">T</span></h1>
        <menu>
            <section id="menu_container">
                <form action="/game" method="POST">
                    <ul>
                        <input id='name_input' type="text" placeholder="Name" name="username">
                        <li><button id="player" type="submit">Player</button></li>
                    </ul>
                </form>
                <ul>
                    <li><button id="spectator">Spectator</button></li>
                </ul>
            </section>
        </menu>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let player = document.getElementById('player');
        let spectator = document.getElementById('spectator');

        let socket = io();

        player.addEventListener('click', () => {
            //create player object and send it
            
            //user is redirected on the post request
        })
        spectator.addEventListener('click', () => {
            window.location = '/spectate'
        })
    </script>
    <script src="/js/fullscreen.js"></script>
</body>

</html>