<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/spectatorSS.css" rel="stylesheet" type="text/css">
    <title>Spectator</title>
</head>

<body>
    <div id="spectator_container">
        <section id='pad_container'>
            <header>
                <span>Rank</span>
                <span>Player</span>
            </header>
            <section>
                <ol id="list">
                    <% dummy.sort((a,b)=>a._rank-b._rank) %> 
                    <% dummy.forEach(obj=>{ %>
                        <% if(obj._rank==0){ %>
                            <li class="in"><span>
                                    <%= "Playing" %>
                                </span> <span>
                                    <%= obj._name %>
                                </span></li>
                            <% }else { %>
                                <li class="out"><span>
                                        <%= obj._rank %>
                                    </span><span>
                                        <%= obj._name %>
                                    </span></li>
                            <% } %>
                                <% }) %>
                </ol>
            </section>
        </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        let list = document.getElementById('list');
        socket.on('add-player', (player)=>{
            let user = document.createElement('li');
            user.className = 'in';
            let span1 = document.createElement('span');
            span1.innerHTML = "Playing";
            let span2 = document.createElement('span');
            span2.innerHTML = player;
            user.appendChild(span1);
            user.appendChild(span2);
            list.appendChild(user);
            location.reload();
        })
    </script>
    <script src="/js/fullscreen.js"></script>
</body>

</html>